# 1. ALERTMANAGER
alertmanager:
  alertmanagerSpec:
    replicas: 1
    resources:
      requests:
        memory: 50Mi   # Lowered: scheduler will find it easier to place
        cpu: 10m
      limits:
        memory: 200Mi

# 2. PROMETHEUS
prometheus:
  prometheusSpec:
    strategy:
      type: Recreate
    replicas: 1
    resources:
      requests:
        memory: 300Mi  # Lowered: from 512Mi to give more 'wiggle room'
        cpu: 50m
      limits:
        memory: 1024Mi
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: gp2
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

# 3. GRAFANA
grafana:
  adminPassword: prom-operator
  strategy:
      type: Recreate
  persistence:
    enabled: true
    storageClassName: gp2
    size: 5Gi
  replicas: 1
  resources:
    requests:
      memory: 100Mi
      cpu: 50m
    limits:
      memory: 256Mi
